// @ clearfix
// ------------------------------------------------------------

@mixin clearfix {
  zoom: 1;
  
  &:before,
  &:after {
    content: "";
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

// @ text-overflow
// ------------------------------------------------------------

@mixin text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// @ box-shadow
// ------------------------------------------------------------

@mixin box-shadow( $h: 0px , $v: 2px , $b: 3px , $s: 1px , $c: #bbb ) {
  -webkit-box-shadow: $h $v $b $s $c;
  -moz-box-shadow: $h $v $b $s $c;
  box-shadow: $h $v $b $s $c;
}

// @ positon
// ------------------------------------------------------------

@mixin xPos($x) {
  -webkit-transform: translateX($x);
  -moz-transform: translateX($x);
  -ms-transform: translateX($x);
  transform: translateX($x);
}

@mixin yPos($y) {
  -webkit-transform: translateY($y);
  -moz-transform: translateY($y);
  -ms-transform: translateY($y);
  transform: translateY($y);
}

// @ tranceform
// ------------------------------------------------------------

@mixin rotate($deg) {
  transform: rotate(#{$deg}deg);
}

// @ transition
// ------------------------------------------------------------

@mixin transition-delay($val:$hover-transition) {
  transition: all $val ease;
}

// @ width heght
// ------------------------------------------------------------

@mixin perwidth( $parentPxWidth, $pxWidth ) {
  width: (( $pxWidth / $parentPxWidth ) * 10000% ) / 100;
}

@mixin wdiv( $width ) {
  width: ($width / 2);
}

@mixin hdiv( $heght ) {
  height: ($heght / 2);
}

// @ font size
// ------------------------------------------------------------

@mixin fzem($size: 24, $base:$font-size-base) {
  $fzPcEm: $size / $base;
  font-size: $fzPcEm + em;
}

// @ link
// ------------------------------------------------------------

@mixin link-color($val:$link-color) {
  color: $val;
  &:link,
  &:active,
  &:hover,
  &:visited,
  &:focus {
    color: $val;
  }
}

@mixin link-hover($opacity:.7) {
  transition: all $hover-transition ease;
  &:hover {
    opacity: $opacity;
  }
}

// @ media
// ------------------------------------------------------------

//$screen-xs:                  320px;
//$screen-xs-min:              $screen-xs;
//$screen-phone:               $screen-xs-min;
//$screen-sm:                  414px;
//$screen-sm-min:              $screen-sm;
//$screen-tablet:              $screen-sm-min;
//
//$screen-md:                  768px;
//$screen-md-min:              $screen-md;
//$screen-desktop:             $screen-md-min;
//
//$screen-lg:                  1200px;
//$screen-lg-min:              $screen-lg;
//
//$screen-lg-desktop:          $screen-lg-min;
//
//
//$screen-xs-max:              ($screen-sm-min - 1);
//$screen-sm-max:              ($screen-md-min - 1);
//$screen-md-max:              ($screen-lg-min - 1);

@mixin print {
  @media print {
    @content;
  }
}

@mixin max-media($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-media($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin media($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  //padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  //line-height: $line-height;
  //border-radius: $border-radius;
}