/* ============================================================ //
// @ unit
// ============================================================ */

$img_path: "./../../assets/img/";


/*doc
---
title: テキストユニット
name: text-unit
category: unit
---


```html_example

<div class="text-unit">
  <p>それは当時無論そんな欠乏院という方の以上を解りたた。さきほど今で懊悩らは別にとんだ入会でたまでへ見るて得るまいからは戦争考えありたて、全くにはしたなかったな。</p>
  <p>それは当時無論そんな欠乏院という方の以上を解りたた。さきほど今で懊悩らは別にとんだ入会でたまでへ見るて得るまいからは戦争考えありたて、全くにはしたなかったな。</p>
</div>

```

*/

// text-unitには内容する要素のみスタイルを指定
// text-unit自体にはスタイルを付与しない

.text-unit {
  > *:last-child{
    margin-bottom: 0;
  }
  @include max-media($screen-sm){

  }
}