/* ============================================================ //
// @ hr
// ============================================================ */

$img_path: "./../../assets/img/";

.hr{
  &--lg{
    margin: 80px 0;
    @include max-media($screen-md){
      margin: 60px 0;
    }
    @include max-media($screen-sm){
      margin: 40px 0;
    }
  }
  &--md{
    margin: 60px 0;
    @include max-media($screen-md){
      margin: 40px 0;
    }
    @include max-media($screen-sm){
      margin: 20px 0;
    }
  }
  &--sm{
    margin: 40px 0;
    @include max-media($screen-md){
      margin: 20px 0;
    }
    @include max-media($screen-sm){
      margin: 0;
    }
  }
}