/*--------------------------------------------------------------//
// @ margin
// ------------------------------------------------------------ */

.mb0{
  margin-bottom: 0!important;}

.margin-center{
  margin:0 auto;
}

// @ Use UnitBuildSystem
// ------------------------------------------------------------

.mb--lg{
  margin-bottom: 70px;
  @include max-media($screen-md){
    margin-bottom: 60px;
  }
  @include max-media($screen-sm){
    margin-bottom: 50px;
  }
}

.mb--md{
  margin-bottom: 40px;
  @include max-media($screen-md){
    margin-bottom: 30px;
  }
  @include max-media($screen-sm){
    margin-bottom: 20px;
  }
}

.mb--sm{
  margin-bottom: 20px;
  @include max-media($screen-md){
    margin-bottom: 15px;
  }
  @include max-media($screen-sm){
    margin-bottom: 10px;
  }
}