/* ============================================================ //
// @ List
// ============================================================ */

$img_path: "./../../assets/img/";

#customize-wrapper {

  .ubs-list-unit {

    li:not(:last-child) {
     margin-bottom: 10px;
    }

  }
}