/* ============================================================ //
// @ color
// ============================================================ */

/* bootstrap color */

.color-base{
  color: $gray-base !important;
}
.color-darker{
  color: $gray-darker !important;
}
.color-dark{
  color: $gray-dark !important;
}
.color-gray{
  color: $gray !important;
}
.color-light{
  color: $gray !important;
}
.color-lighter{
  color: $gray-light !important;
}

.color-primary{
  color: $brand-primary !important;
}
.color-success{
  color: $brand-success !important;
}
.color-info{
  color: $brand-info !important;
}
.color-warning{
  color: $brand-warning !important;
}
.color-danger{
  color: $brand-error !important;
}
  
  
/* default color */
.color-white{
  color: #fff !important;
}

.color-green{
  color: $swatch-green !important;
}
.color-blue{
  color: $swatch-blue !important;
}
.color-brawn{
  color: $swatch-brawn !important;
}
.color-red{
  color: $swatch-red !important;
}
.color-pink{
  color: $swatch-pink !important;
}
.color-pink {
  color: $swatch-pink !important;
}
.color-orange {
  color: $swatch-orange !important;
}
.color-yellow {
  color: $swatch-yellow !important;
}

/* add color */

.color-aqua{
  color: $swatch-aqua !important;
}

/* @ background color
// ------------------------------------------------------------ */

/* bootstrap color */

.bg-base{
  background-color: $gray-base !important;
}
.bg-darker{
  background-color: $gray-darker !important;
}
.bg-dark{
  background-color: $gray-dark !important;
}
.bg-gray{
  background-color: $gray !important;
}
.bg-light{
  background-color: $gray !important;
}
.bg-lighter{
  background-color: $gray-light !important;
}

.bg-primary{
  background-color: $brand-primary !important;
}
.bg-success{
  background-color: $brand-success !important;
}
.bg-info{
  background-color: $brand-info !important;
}
.bg-warning{
  background-color: $brand-warning !important;
}
.bg-danger{
  background-color: $brand-error !important;
}

/* default color */

.bg-white{
  background-color: #fff !important;
}

.bg-green{
  background-color: $swatch-green !important;
}
.bg-blue{
  background-color: $swatch-blue !important;
}
.bg-brawn{
  background-color: $swatch-brawn !important;
}
.bg-red{
  background-color: $swatch-red !important;
}
.bg-pink{
  background-color: $swatch-pink !important;
}
.bg-pink {
  background-color: $swatch-pink !important;
}
.bg-orange {
  background-color: $swatch-orange !important;
}
.bg-yellow {
  background-color: $swatch-yellow !important;
}

/* add color */

.bg-aqua{
  background-color: $swatch-aqua !important;
}




