/*--------------------------------------------------------------//
// @ text align
// ------------------------------------------------------------ */

/* @ text state
// ------------------------------------------------------------ */

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.text-bold {
  font-weight: bold !important;
}

.text-normal {
  font-weight: normal !important;
}

.nowrap {
  white-space: nowrap !important
}

// @ text color
// ------------------------------------------------------------
.text-color-base{
  color: $text-color;
}

.text-color-sub{
  color: $text-color-sub;
}

// @ fontsize
// ------------------------------------------------------------

.fz_8em{
  font-size: .8em;
}
